.card {
  max-width:300px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  padding-top: 6px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #922def;
  color: white;
  margin-top: 20px;
}